.hams {
    cursor: pointer;
    float: left;
    margin-left: 20px;
    color: #000;
    margin-right: 5px;
    font-size: 30px;
}
.logo {
    max-width: 50px;
    margin-left: 10px;
}

.right .fa {
    padding: 23px 10px;
    margin-right: 20px;
}

.dropdown-toggle {
    padding: 20px 10px;
    min-height: 50px;
    font-size: 14px;
    color: #676a6c;
    text-decoration: none;
}
.row {
    margin: 0;
}
.wrapper {
    margin: 15px 20px 40px;
    padding: 15px 20px 40px; 
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 8px !important;
}
.displaybl {
    margin-top: 5px;
    font-size: 26px;
    padding-top: 10px;
    font-weight: 300;
}

.integration_label {
    font-size: 18px;
    display: block;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: lato;
    line-height: 45px;
    color: #676a6c !important;
}
.img_integrate {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 20px;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.integration_tools {
    border: 1px solid #e7e7e7;
    margin-bottom: 30px;
    height: 250px;
    position: relative;
}

.inter_image_custom  {
    margin-top: 50px;
}
.int_image_custom {
    height: 30px;
    width: 30px;
}
.intergration_tools {
    margin-bottom: 30px;
    padding: 0 15px;
    border: 1px solid #e7e7e7;
    height: 250px;
    position: relative;
}
.inter_name {
    font-family: lato;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    color: #676a6c;
    display: block;
    margin-top: 5px;
}
.inter_label {
    font-family: lato;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #c4c4c4;
    display: block;
}
.inter_details {
    margin-top: 5px;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.bottom_inter {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
}
.floatr {
    float: right;
}
.fa-cog {
    font-size: 12px;
}

.border_line {
    border-right: 1px solid #e7e7e7;
    height: 650px;
}

.line_image {
    height: 300px;
    margin-top: 75px;
}

.modal_header_integration {
    font-family: lato;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
}
.navigation_section {
    border: 1px solid #e7e7e7;
    color: #676a6c;
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.nav_header_inter {
    font-size: 20px;
    font-weight: 300;
    font-family: lato;
    letter-spacing: 1px;
}
.nav_header_label {
    font-size: 16px;
    font-weight: 300;
    font-family: lato;
    letter-spacing: 0.6px;
}

.styling_inter_fixing {
    float: right;
    margin-top: 15px;
}
.fa-2x {
    font-size: 26px;
}